body {
  background-image: url("background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button.box {
    width: 10em;
    height: 2.5em;
    margin: 100px;
    border-radius: 5px;
    border: solid 5px yellow;
    align-self: flex-end;
    background-color: orange;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}


.clock {
  width:100%;
  height:100%;
  align-self: center;
  position: relative;
}

.hours-hand{
animation: movehand 10s infinite linear;
width:35%;
height:20%;
left: 35%;
top: 35%;
position: absolute;
transform-origin: left;

}
.minutes-hand{
animation: movehand2 10s infinite linear;
width:40%;
height:20%;
left: 35%;
top: 35%;
position: absolute;
transform-origin: left;
}

.minutes{
width:100%;
height:60%;
left: 50%;
top: 35%;
position: absolute;
}

.hours{
width:80%;
height:60%;
left: 50%;
top: 35%;

position: absolute;
}


@keyframes movehand {
/* 10% {   }
30% {   } */
100% {transform: rotate(30deg);}
}



@keyframes movehand2 {
100% {transform: rotate(360deg);}
}
